*{
	margin: 0;
	padding: 0;
}
#wrapper{
	width: 1200px;
	height: 1000px;
	background-color: lightgrey;
	padding: 20px;
}
#left{
	width: 400px;
	height: 500px;
	background-color: lightgreen;
	vertical-align: top;
	display: inline-block;
}
#right{
	width: 400px;
	height: 500px;
	background-color: lightblue;
	vertical-align: top;
	display: inline-block;
}